body {
  margin: 0;
}
.app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
}
.todo-list {
  background-color: #79c3aa;
  font-family: "Space Mono", monospace;
  padding: 1rem;
  min-width: 400px;
  min-height: 300px;
}

.title {
  border-bottom: 1px solid rgba(31, 14, 26);
  font-size: 1.5rem;
  font-family: "BioRhyme", serif;
  color: #fff;
}
.form {
  display: flex;
  justify-content: center;
}

.form-input,
.form-button {
  border-radius: 0;
  padding: 0.72rem;
  font-size: 0.75rem;
}
.form-input {
  outline: none;
  background-color: #fbf6d0;
  border-color: rgba(255, 255, 255, 0.1);
}
.form-button {
  border: 1px;
  background-color: #f88f89;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 0.25rem;
  color: #fff;
}
.form-button:hover {
  color: #f6f1d1;
  background: rgba(246, 241, 209, 0.1);
  border: 1px solid #fff;
}
.list {
  padding: 0;
  list-style: none;
  width: 100%;
}
.task {
  border-bottom: 1px solid #f6f1d1;
  color: #2c3e50;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding: 1rem 1rem;
}
.task.done .content {
  color: #923136;
  text-decoration: line-through;
}

.check-button,
.delete-button {
  background-color: #228155;
  border: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}
